    /* Colors */
:root{
    --violet: violet;
    --darkblue:darkblue;
    --golden:goldenrod;
    --grey: lightgrey;
    --dodger:dodgerblue;
    --green:darkgreen;
    --marine:aquamarine;
    --pink:hwb(350 54% 0%);
}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body{
font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(12, 92, 172);
    height: 60px;
    border:2px solid black;
    }
.container{
    width: auto;
    height: 2000px;
}
.barra{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height:40px;
    min-width: 500px;
    margin: 10px 200px;
    max-width: 800px;
    border:2px dashed black;
    background-color: var(--golden);
}
.barra > *{
    flex-basis: 20%;
}
.barra-menu{
    flex-grow: 1;
    text-align: center;
}
.barra-action{
    text-align: right;
}
section{
    height: auto;
    block-size: block;
    padding:20px 300px
}
.rettangolo{
    height: 250px;
    width: 0 250px;
    border: solid black;
    background-color:var(--violet);
}
.contenitore{
    height: auto;
    block-size: block;
    padding:20px 250px
}
.blocco{
    height: 250px;
    max-width: 800px;
    min-width: 200px;
    border: 2px dashed black;
}
.flex{
    display:flex;
    align-self: center;
    justify-content: space-between;
}
.suddiviso{
background-color: var(--dodger);
width: 70%;
}
.altro{
    background-color:var(--pink);
    width: 30%;
    border: 1px dashed black;
}
.grosso{
    height: auto;
    block-size: block;    
    background-color:var(--grey);
    padding: 20px 250px;
}
.grande{
    height: 600px;
    min-width: 200px;
    border: 2px dashed black;
    background-color: var(--green);

}
.wall{
    height: auto;
    block-size: block;    
    background-color:var(--grey);
    padding: 20px 250px;
    background-color: black;
}
.griglia{
    height: 400px;
    max-width: 800px;
    min-width: 200px;
    border: 3px dashed black;
}
.left{
    background-color: hwb(350 54% 0%);
    width: calc(75%/2);
    border: 2px dashed black;
}
.right{
    background-color:aqua;
    min-height: 50px;
    width: calc(100%/4);
    border: 2px dashed white; 
}
hr{
    color: white;
}
footer{
    background-color: black;
    height: 60px;
    border:2px solid black;
    align-items: center;
    padding:10px 200px;
    
}
.ret-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height:40px;
    min-width: 500px;
    margin-bottom: 0;
    max-width: 900px;
    border:2px dashed black;
    background-color: var(--marine);
    padding: 0 3px;
    width: 850px;
}
button{
    align-self:space-between;
    background-color: var(--violet);
}
.darkblue{
    background-color: var(--darkblue);
}
.grey{
    background-color: var(--grey);
}
